{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "noUnusedVars": false,
  "jsxBracketSameLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "importOrder": ["^(react)(.*)$", "^(./)", "(.*)(.css)$"]
}
